<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>US</key>
	<string>http://www.apple.com/support/mac-apps/ibooks/</string>
	<key>AT</key>
	<string>http://www.apple.com/at/support/mac-apps/ibooks/</string>
	<key>AU</key>
	<string>http://www.apple.com/au/support/mac-apps/ibooks/</string>
	<key>BE</key>
	<dict>
	   <key>fr</key>
	   <string>http://www.apple.com/befr/support/mac-apps/ibooks/</string>
	   <key>nl</key>
	   <string>http://www.apple.com/benl/support/mac-apps/ibooks/</string>
	   <key>?</key>
	   <string>nl</string>
    </dict>
	<key>BR</key>
	<string>http://www.apple.com/br/support/mac-apps/ibooks/</string>
	<key>CA</key>
	<dict>
	   <key>en</key>
	   <string>http://www.apple.com/ca/support/mac-apps/ibooks/</string>
	   <key>fr</key>
	   <string>http://www.apple.com/ca/fr/support/mac-apps/ibooks/</string>
	   <key>?</key>
	   <string>en</string>
    </dict>
	<key>CN</key>
	<string>http://www.apple.com.cn/support/mac-apps/ibooks/</string>
	<key>DK</key>
	<string>http://www.apple.com/dk/support/mac-apps/ibooks/</string>
	<key>FI</key>
	<string>http://www.apple.com/fi/support/mac-apps/ibooks/</string>
	<key>FR</key>
	<string>http://www.apple.com/fr/support/mac-apps/ibooks/</string>
	<key>DE</key>
	<string>http://www.apple.com/de/support/mac-apps/ibooks/</string>
	<key>HK</key>
    <dict>
        <key>zh</key>
        <string>http://www.apple.com/hk/support/mac-apps/ibooks/</string>
        <key>en</key>
        <string>http://www.apple.com/hk/en/support/mac-apps/ibooks/</string>
        <key>?</key>
        <string>zh</string>
    </dict>
    <key>ID</key>
	<string>http://www.apple.com/asia/support/mac-apps/ibooks/</string>
	<key>IN</key>
	<string>http://www.apple.com/in/support/mac-apps/ibooks/</string>
	<key>IT</key>
	<string>http://www.apple.com/it/support/mac-apps/ibooks/</string>
	<key>IE</key>
	<string>http://www.apple.com/ie/support/mac-apps/ibooks/</string>
	<key>JP</key>
	<string>http://www.apple.com/jp/support/mac-apps/ibooks/</string>
	<key>KR</key>
	<string>http://www.apple.com/kr/support/mac-apps/ibooks/</string>
	<key>MY</key>
	<string>http://www.apple.com/my/support/mac-apps/ibooks/</string>
	<key>MX</key>
	<string>http://www.apple.com/mx/support/mac-apps/ibooks/</string>
	<key>NL</key>
	<string>http://www.apple.com/nl/support/mac-apps/ibooks/</string>
	<key>NO</key>
	<string>http://www.apple.com/no/support/mac-apps/ibooks/</string>
	<key>NZ</key>
	<string>http://www.apple.com/nz/support/mac-apps/ibooks/</string>
	<key>PL</key>
	<string>http://www.apple.com/pl/support/mac-apps/ibooks/</string>
	<key>PT</key>
	<string>http://www.apple.com/pt/support/mac-apps/ibooks/</string>
	<key>RU</key>
	<string>http://www.apple.com/ru/support/mac-apps/ibooks/</string>
	<key>SG</key>
	<string>http://www.apple.com/sg/support/mac-apps/ibooks/</string>
	<key>ES</key>
	<string>http://www.apple.com/es/support/mac-apps/ibooks/</string>
	<key>SE</key>
	<string>http://www.apple.com/se/support/mac-apps/ibooks/</string>
	<key>CH</key>
    <dict>
        <key>de</key>
        <string>http://www.apple.com/chde/support/mac-apps/ibooks/</string>
        <key>fr</key>
        <string>http://www.apple.com/chfr/support/mac-apps/ibooks/</string>
        <key>?</key>
        <string>de</string>
    </dict>
	<key>TW</key>
	<string>http://www.apple.com/tw/support/mac-apps/ibooks/</string>
	<key>TH</key>
	<string>http://www.apple.com/th/support/mac-apps/ibooks/</string>
	<key>GB</key>
	<string>http://www.apple.com/uk/support/mac-apps/ibooks/</string>
	<key>UK</key>
	<string>http://www.apple.com/uk/support/mac-apps/ibooks/</string>
	<key>VN</key>
	<string>http://www.apple.com/asia/support/mac-apps/ibooks/</string>
	<key>?</key>
    <string>US</string>
</dict>
</plist>
