<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>plugins</key>
	<array>
		<dict>
			<key>identifier</key>
			<string>com.apple.ibooks.plugin.Bookshelf.platformDataSource.iTunesU</string>
			<key>class</key>
			<string>BKLibraryDataSourceiTunesUMac</string>
			<key>type</key>
			<string>com.apple.ibooks.plugin-type.library-data-source</string>
			<key>rank</key>
			<string>900</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>com.apple.ibooks.plugin.Bookshelf.platformDataSource.Ubiquity</string>
			<key>class</key>
			<string>BKLibraryDataSourceUbiquity</string>
			<key>type</key>
			<string>com.apple.ibooks.plugin-type.library-data-source</string>
			<key>rank</key>
			<string>800</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>com.apple.ibooks.plugin.Bookshelf.platformDataSource.DownloadQueue</string>
			<key>class</key>
			<string>BKLibraryDataSourceDownloadQueue</string>
			<key>type</key>
			<string>com.apple.ibooks.plugin-type.library-data-source</string>
			<key>rank</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>identifier</key>
			<string>com.apple.ibooks.plugin.Bookshelf.platformDataSource.Development</string>
			<key>class</key>
			<string>BKLibraryDataSourceDevelopment</string>
			<key>type</key>
			<string>com.apple.ibooks.plugin-type.library-data-source</string>
			<key>rank</key>
			<integer>700</integer>
		</dict>
		<dict>
			<key>identifier</key>
			<string>com.apple.ibooks.plugin.Bookshelf.platformDataSource.BookKit</string>
			<key>class</key>
			<string>BKLibraryDataSourceBookKit</string>
			<key>type</key>
			<string>com.apple.ibooks.plugin-type.library-data-source</string>
			<key>rank</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>identifier</key>
			<string>com.apple.ibooks.plugin.Bookshelf.platformDataSource.CommerceKit</string>
			<key>class</key>
			<string>BKLibraryDataSourceCommerceKit</string>
			<key>type</key>
			<string>com.apple.ibooks.plugin-type.library-data-source</string>
			<key>rank</key>
			<integer>400</integer>
		</dict>
		<dict>
			<key>identifier</key>
			<string>com.apple.ibooks.plugin.Bookshelf.platformDataSource.SampleBooks</string>
			<key>class</key>
			<string>BKLibraryDataSourceSampleBooks</string>
			<key>type</key>
			<string>com.apple.ibooks.plugin-type.library-data-source</string>
			<key>rank</key>
			<integer>500</integer>
		</dict>
		<dict>
			<key>identifier</key>
			<string>com.apple.ibooks.plugin.Bookshelf.platformDataSource.Series</string>
			<key>class</key>
			<string>BKLibraryDataSourceSeries</string>
			<key>type</key>
			<string>com.apple.ibooks.plugin-type.library-data-source</string>
			<key>rank</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>com.apple.ibooks.plugin-type.assetHelper</string>
			<key>identifier</key>
			<string>com.apple.ibooks.plugin.assetHelper.PDF</string>
			<key>class</key>
			<string>BKPDFAssetHelper</string>
			<key>associatedAssetType</key>
			<string>application/pdf</string>
			<key>supportedFileExtensions</key>
			<array>
				<string>pdf</string>
			</array>
		</dict>
		<dict>
			<key>type</key>
			<string>com.apple.ibooks.plugin-type.library-data-source</string>
			<key>identifier</key>
			<string>com.apple.ibooks.plugin.Bookshelf.platformDataSource.ImportingBooks</string>
			<key>class</key>
			<string>BKLibraryDataSourceImportingBooks</string>
			<key>rank</key>
			<integer>200</integer>
		</dict>
	</array>
</dict>
</plist>
