<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>note_font</key>
	<dict>
		<key>name</key>
		<string>Avenir-Roman</string>
		<key>size</key>
		<integer>17</integer>
	</dict>
	<key>note_font_table</key>
	<dict>
		<key>name</key>
		<string>Avenir</string>
		<key>size</key>
		<integer>17</integer>
	</dict>
	<key>note_shadow</key>
	<dict>
		<key>radius</key>
		<integer>8</integer>
		<key>opacity</key>
		<real>0.2</real>
		<key>offset_x</key>
		<integer>0</integer>
		<key>offset_y</key>
		<integer>-3</integer>
		<key>color</key>
		<dict>
			<key>w</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>highlight_text_color</key>
	<dict>
		<key>default</key>
		<dict>
			<key>w</key>
			<integer>26</integer>
		</dict>
		<key>night</key>
		<dict>
			<key>w</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>note_strikethrough_color</key>
	<dict>
		<key>r</key>
		<integer>217</integer>
		<key>g</key>
		<integer>11</integer>
		<key>b</key>
		<integer>0</integer>
	</dict>
	<key>note_sidebar_text_color</key>
	<dict>
		<key>r</key>
		<integer>86</integer>
		<key>g</key>
		<integer>129</integer>
		<key>b</key>
		<integer>156</integer>
	</dict>
	<key>highlight_color_alpha_for_picker</key>
	<real>0.92</real>
	<key>note_border_color</key>
	<dict>
		<key>w</key>
		<integer>0</integer>
		<key>a</key>
		<real>0.1</real>
	</dict>
	<key>themes</key>
	<dict>
		<key>yellow</key>
		<dict>
			<key>base_highlight_color</key>
			<dict>
				<key>default</key>
				<dict>
					<key>r</key>
					<integer>255</integer>
					<key>g</key>
					<integer>214</integer>
					<key>b</key>
					<integer>1</integer>
				</dict>
				<key>night</key>
				<dict>
					<key>r</key>
					<integer>204</integer>
					<key>g</key>
					<integer>148</integer>
					<key>b</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>highlight_blend_opacity</key>
			<dict>
				<key>default</key>
				<real>0.6</real>
				<key>gray</key>
				<real>0.8</real>
				<key>night</key>
				<real>0.6</real>
			</dict>
			<key>note_text_color</key>
			<dict>
				<key>default</key>
				<dict>
					<key>r</key>
					<integer>42</integer>
					<key>g</key>
					<integer>31</integer>
					<key>b</key>
					<integer>10</integer>
				</dict>
				<key>night</key>
				<dict>
					<key>w</key>
					<integer>255</integer>
				</dict>
			</dict>
		</dict>
		<key>green</key>
		<dict>
			<key>base_highlight_color</key>
			<dict>
				<key>default</key>
				<dict>
					<key>r</key>
					<integer>56</integer>
					<key>g</key>
					<integer>215</integer>
					<key>b</key>
					<integer>58</integer>
				</dict>
				<key>night</key>
				<dict>
					<key>r</key>
					<integer>47</integer>
					<key>g</key>
					<integer>115</integer>
					<key>b</key>
					<integer>81</integer>
				</dict>
			</dict>
			<key>highlight_blend_opacity</key>
			<dict>
				<key>default</key>
				<real>0.6</real>
				<key>gray</key>
				<real>0.8</real>
				<key>night</key>
				<real>0.6</real>
			</dict>
			<key>note_text_color</key>
			<dict>
				<key>default</key>
				<dict>
					<key>r</key>
					<integer>31</integer>
					<key>g</key>
					<integer>43</integer>
					<key>b</key>
					<integer>13</integer>
				</dict>
				<key>night</key>
				<dict>
					<key>w</key>
					<integer>255</integer>
				</dict>
			</dict>
		</dict>
		<key>blue</key>
		<dict>
			<key>base_highlight_color</key>
			<dict>
				<key>default</key>
				<dict>
					<key>r</key>
					<integer>73</integer>
					<key>g</key>
					<integer>180</integer>
					<key>b</key>
					<integer>255</integer>
				</dict>
				<key>night</key>
				<dict>
					<key>r</key>
					<integer>37</integer>
					<key>g</key>
					<integer>87</integer>
					<key>b</key>
					<integer>143</integer>
				</dict>
			</dict>
			<key>highlight_blend_opacity</key>
			<dict>
				<key>default</key>
				<real>0.6</real>
				<key>gray</key>
				<real>0.8</real>
				<key>night</key>
				<real>0.6</real>
			</dict>
			<key>note_text_color</key>
			<dict>
				<key>default</key>
				<dict>
					<key>r</key>
					<integer>28</integer>
					<key>g</key>
					<integer>39</integer>
					<key>b</key>
					<integer>62</integer>
				</dict>
				<key>night</key>
				<dict>
					<key>w</key>
					<integer>255</integer>
				</dict>
			</dict>
		</dict>
		<key>pink</key>
		<dict>
			<key>base_highlight_color</key>
			<dict>
				<key>default</key>
				<dict>
					<key>r</key>
					<integer>255</integer>
					<key>g</key>
					<integer>102</integer>
					<key>b</key>
					<integer>147</integer>
				</dict>
				<key>night</key>
				<dict>
					<key>r</key>
					<integer>171</integer>
					<key>g</key>
					<integer>62</integer>
					<key>b</key>
					<integer>93</integer>
				</dict>
			</dict>
			<key>highlight_blend_opacity</key>
			<dict>
				<key>default</key>
				<real>0.6</real>
				<key>gray</key>
				<real>0.8</real>
				<key>night</key>
				<real>0.6</real>
			</dict>
			<key>note_text_color</key>
			<dict>
				<key>default</key>
				<dict>
					<key>r</key>
					<integer>50</integer>
					<key>g</key>
					<integer>24</integer>
					<key>b</key>
					<integer>37</integer>
				</dict>
				<key>night</key>
				<dict>
					<key>w</key>
					<integer>255</integer>
				</dict>
			</dict>
		</dict>
		<key>purple</key>
		<dict>
			<key>base_highlight_color</key>
			<dict>
				<key>default</key>
				<dict>
					<key>r</key>
					<integer>167</integer>
					<key>g</key>
					<integer>131</integer>
					<key>b</key>
					<integer>242</integer>
				</dict>
				<key>night</key>
				<dict>
					<key>r</key>
					<integer>82</integer>
					<key>g</key>
					<integer>82</integer>
					<key>b</key>
					<integer>142</integer>
				</dict>
			</dict>
			<key>highlight_blend_opacity</key>
			<dict>
				<key>default</key>
				<real>0.6</real>
				<key>gray</key>
				<real>0.8</real>
				<key>night</key>
				<real>0.6</real>
			</dict>
			<key>note_text_color</key>
			<dict>
				<key>default</key>
				<dict>
					<key>r</key>
					<integer>39</integer>
					<key>g</key>
					<integer>23</integer>
					<key>b</key>
					<integer>44</integer>
				</dict>
				<key>night</key>
				<dict>
					<key>w</key>
					<integer>255</integer>
				</dict>
			</dict>
		</dict>
		<key>underline</key>
		<dict>
			<key>is_underline</key>
			<true/>
			<key>base_highlight_color</key>
			<dict>
				<key>default</key>
				<dict>
					<key>r</key>
					<integer>255</integer>
					<key>g</key>
					<integer>7</integer>
					<key>b</key>
					<integer>0</integer>
				</dict>
				<key>night</key>
				<dict>
					<key>r</key>
					<integer>169</integer>
					<key>g</key>
					<integer>59</integer>
					<key>b</key>
					<integer>59</integer>
				</dict>
			</dict>
			<key>highlight_blend_opacity</key>
			<dict>
				<key>default</key>
				<real>0.8</real>
				<key>gray</key>
				<real>1</real>
				<key>night</key>
				<real>0.8</real>
			</dict>
			<key>note_fill_color</key>
			<dict>
				<key>default</key>
				<dict>
					<key>r</key>
					<integer>225</integer>
					<key>g</key>
					<string>225</string>
					<key>b</key>
					<string>228</string>
				</dict>
				<key>night</key>
				<dict>
					<key>r</key>
					<integer>99</integer>
					<key>g</key>
					<string>99</string>
					<key>b</key>
					<string>100</string>
				</dict>
			</dict>
			<key>note_text_color</key>
			<dict>
				<key>default</key>
				<dict>
					<key>r</key>
					<integer>28</integer>
					<key>g</key>
					<integer>39</integer>
					<key>b</key>
					<integer>62</integer>
				</dict>
				<key>night</key>
				<dict>
					<key>w</key>
					<integer>255</integer>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
