<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>plugins</key>
	<array>
		<dict>
			<key>type</key>
			<string>com.apple.ibooks.plugin-type.assetHelper</string>
			<key>identifier</key>
			<string>com.apple.ibooks.plugin.assetHelper.Audiobook</string>
			<key>class</key>
			<string>BKAudiobookAssetHelper</string>
			<key>associatedAssetType</key>
			<string>audio/x-m4a</string>
			<key>supportedFileExtensions</key>
			<array>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>associatedHelperPluginIdentifier</key>
			<string>com.apple.ibooks.plugin.assetHelper.Audiobook</string>
			<key>type</key>
			<string>com.apple.ibooks.plugin-type.asset</string>
			<key>identifier</key>
			<string>com.apple.ibooks.plugin.asset.Audiobook</string>
			<key>class</key>
			<string>BKAssetAudiobookNowPlayingViewController</string>
			<key>associatedAssetType</key>
			<string>audio/mpeg</string>
			<key>default-frame</key>
			<string>{{0,0},{385,385}}</string>
			<key>window-type</key>
			<string>docked</string>
			<key>supportedFileExtensions</key>
			<array>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>type</key>
			<string>com.apple.ibooks.plugin-type.assetHelper</string>
			<key>identifier</key>
			<string>com.apple.ibooks.plugin.assetHelper.AudiobookPreview</string>
			<key>class</key>
			<string>BKAudiobookPreviewAssetHelper</string>
			<key>associatedAssetType</key>
			<string>audio/x-m4a</string>
			<key>supportedFileExtensions</key>
			<array>
				<string>m4a</string>
			</array>
		</dict>
		<dict>
			<key>associatedHelperPluginIdentifier</key>
			<string>com.apple.ibooks.plugin.assetHelper.AudiobookPreview</string>
			<key>type</key>
			<string>com.apple.ibooks.plugin-type.preview</string>
			<key>identifier</key>
			<string>com.apple.ibooks.plugin.asset.AudiobookPreview</string>
			<key>class</key>
			<string>BKAssetAudiobookNowPlayingViewController</string>
			<key>associatedAssetType</key>
			<string>audio/mpeg</string>
			<key>default-frame</key>
			<string>{{0,0},{385,385}}</string>
			<key>window-type</key>
			<string>docked</string>
			<key>supportedFileExtensions</key>
			<array>
				<string>m4a</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
