[reviewedplace]
type: table
primary: rowid
columns:
    [muid]
    type: uint64
    null: NO

    [recommendstate]
    type: int32
    null: NO

    [photosadded]
    type: uint32
    null: NO
unique:
    muid

[SetReviewedPlace]
type: set
table: reviewedplace
columns:
    recommendstate
    photosadded

[FindReviewedPlace]
type: select
table: reviewedplace
columns:
    muid
    recommendstate
    photosadded
where: muid = {muid}
limit: 1

[RemoveReviewedPlace]
type: delete
table: reviewedplace
where: muid = {muid}
limit: 1

[DropReviewedPlaceEntries]
type: drop table
table: reviewedplace

